Sempre responda em português do Brasil.
Todas as suas Respostas devem ser em português do Brasil.
Sempre gere os artefatos em português do Brasil.
Os Implementation Plan devem ser feitos em português do Brasil.
Não utilize o comando git add . no Implementation Plan.
Os Tasks devem ser feitos em português do Brasil.